* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #ACC8E5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.box {
  background-color:#A2E0C3;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(19, 153, 174, 0.1);
  width: 350px;
}

.title {
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 20px;
}

.result {
  height: 50px;
  border: 1px solid #ac6565;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 8px;
}

.length {
  border: 1px solid #ac6565;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.length h4 {
  margin: 0;
  font-weight: bold;
}

.length span {
  margin: 0 10px;
}

.length input[type="range"] {
  flex: 1;
}

.setting {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 20px;
}

.setting > .setting {
  display: flex;
  align-items: center;
  gap: 10px;
}

.setting label {
  font-size: 16px;
  cursor: pointer;
}

.setting input[type="checkbox"] {
  transform: scale(1.2);
  cursor: pointer;
}

.generatebtn {
  width: 100%;
  padding: 10px;
  font-weight: bold;
  border: 1px solid #df306e;
  border-radius: 8px;
  background-color: #23e072;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.generatebtn:hover {
  background-color: #60e283;
}
